.hero-section-container {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.homeBgImage {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.imageOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.hero-section-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-weight: 900;
    font-size: 6vw;
    text-align: center;
    width: 100%;
}

.hero-section-subtitle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1.25vw;
    text-align: center;
    width: 60%;
    margin-top: 8%;
}

.personalityTitle {
    color: #25a6e0;
    display: inline-block;
    font-size: 5vh;
    font-weight: bold;
}


.zoom {
    transition: transform 0.3s ease;
}

.zoom:hover {
    transform: scale(1.2);
}